.Projects__container{
    column-count: 2;
    column-gap: 1em;
    width: 90%;
    max-width: 1250px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 500px) {
    .Projects__container{
        width: 80%;
        column-count: 3;
        column-gap: 1em;
    }
}