.button{
    overflow: hidden;
    font-size: 1rem;
    text-decoration: none;
    width: 80%;
    max-width: 350px;
    height: auto;
    padding: 20px 5px;
    display: inline-block;
    position: relative;
    margin: 0 auto 35px;
    color: var(--dark);
    box-shadow: 10px 0  var(--dark), -10px 0 var(--dark), 0 10px var(--dark), 0 -10px var(--dark);
}

.primary{
    background-color: var(--secondary-color);
}
.secondary{
    background-color: var(--primary-color);
}

.button::after,
.button::before{
    content: '';
    display: inline-block;
    height: 10px;
    width: calc(100% - 20px);
    background-color: transparent;
    position: absolute;
    left: 10px;
    box-shadow: 10px 0  var(--dark), -10px 0 var(--dark), 0 0px transparent, 0 -0px transparent;
}
.button::after{
    top: -2px;
}
.button::before{
    bottom: -2px;
}
.button:active{
    font-size: 1.9rem;
    color: var(--text-color);
    background-color: var(--button-color-press);
    box-shadow: 8px 0  var(--text-color), -8px 0 var(--text-color), 0 8px var(--text-color), 0 -8px var(--text-color);
}
.button:active::after,
.button:active::before{
    left: 7px;
    width: calc(100% - 15px);
    background-color: var(--button-color-press);
}

.button__data-project{
    position: absolute;
    bottom: -20px;
    left: 20px;
    font-size: 1rem;
    width: auto;
    padding: 7px 15px;
    box-shadow: 5px 0  var(--dark), -5px 0 var(--dark), 0 5px var(--dark), 0 -5px var(--dark);
}
.button__data-project::after,
.button__data-project::before{
    width: calc(100% - 14px);
    left: 7px;
    box-shadow: 7px 0  var(--dark), -7px 0 var(--dark), 0 0px transparent, 0 -0px transparent;
}

.wide{
    width: 60%;
    max-width: 350px;
    font-size: 1.3rem;
}