.ProjectItem{
    margin: 0 auto 1em;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.ImageProject{
    width: 100%;
}


.data-project{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 44, 78, 0.281);
    z-index: -10;
    cursor: zoom-in;
}
.data-project__name{
    position: absolute;
    color: white;
    /* font-size: 1.5rem; */
    font-size:2.5rem;
    text-align: start;
    display: block;
    width: 75%;
    top: -50px;
    left: 10px;
    overflow: unset;
}
.data-technologies{
    /* width: 25%; */
    padding: 5px;
    position: absolute;
    top: -25;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var( --primary-color);
}
.data-technologies i{
    margin-bottom: 3px;
    /* font-size: 1.5rem; */
    font-size:2rem;
}

.data-project__githun{
    position: absolute;
    bottom: 5px;
    right: 15px;
    background-color: var(--white);
    border-radius: 50%;
    /* width: 2vh; */
    z-index: 20;
}
.data-project__githun i{
    font-size: 3rem;
    color: var(--dark);
}
.icon__container-card i{
    transform: rotate(-45deg);
}


.hover__item{
    z-index: 10;
}
