.ProjectItem{
    margin: 0 auto 1em;
    width: 100%;
    position: relative;
}
.ImageProject{
    width: 100%;
}
.data-project{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 51, 77, 0.5);
    /* z-index: -10; */
    cursor: zoom-in;
}

.data-project__name{
    position: absolute;
    color: white;
    font-size: 1.5rem;
    text-align: start;
    display: block;
    width: 75%;
    height: auto;
    top: -25px;
    left: 15px;
}
.data-technologies{
    width: 25%;
    position: absolute;
    top: -25;
    right: 0;
}


.data-project__url{
    position: absolute;
    bottom: 0;
    left: 20px;
    background-color: var(--secondary-color);
    border: 5px solid var(--dark);
    padding: 5px 7px;
    text-decoration: none;
    color: var(--dark);
}
.data-project__githun{
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: var(--dark);
}


/* .data-project:hover{
    z-index: 10;
    cursor: pointer;
} */