body.active-modal{
  overflow-y: hidden;
}
.Modal,
.ModalBackground{
position: fixed;
top: -10px;
left: -10px;
right: -10px;
bottom: -10px;
}
.Modal{
display: -webkit-box;
display: -ms-flexbox;
display: flex; 
-webkit-box-pack: center; 
    -ms-flex-pack: center; 
        justify-content: center;
-webkit-box-align: baseline;
    -ms-flex-align: baseline;
        align-items: baseline;
overflow-y: auto;
z-index: 10;
}
.ModalBackground {
  background: rgba(6, 55, 83, 0.37);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 100;
}