.loading-item-project{
    height: 250px;
    width: 100%;
}
.photo-profile{
    width: 208px;
    height: 208px;
    border-radius: 50%;
}
.about-photo{
    width: 100%;
    height: 450px;
}

.loading{
    animation: loading 1s infinite;
    background-color: #d6d8da;
}

@keyframes loading {
    from{
        background-color: #e8ecf0;
    }
    to{
        background-color: #d6d8da;
    }
}


@media (min-width: 1000px) {
    .about-photo{
        height: 100%;
    }
}
