.Contact{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    color: var(--white);
    background-color: var(--primary-color);
}
.text--contact{
    margin-bottom: 30px;
    max-width: 600px;
    color: var(--white);
}

.contact__button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__button img{
    width: 25%;
    margin-left: 10px;
}
.Social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 350px;
    padding: 0;
}
.Social li{
    display: inline-block;
	text-decoration: none;
}
.Social__icon{
    width: 4em;
    margin: 0;
}

.contact__buton__text{
    color: var(--white);
}

@media (min-width: 850px) {
    .Social{
       flex-direction: column;
       gap: 10px;
    }
}