.header{
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 90px auto auto 90px;
    grid-template-areas: 
        "usr    usr     nav"
        "title  title   title"
        "draw   draw    draw"
        "btn-1  btn-1   btn-1"
    ;
    /* background-color: var(--primary-color); */
    /* background-image: linear-gradient(to top, #887ec8, #9883cb, #a788cf, #b58dd1, #c392d4); */
    background-color: #887ec8;
background-image: linear-gradient(180deg, #887ec8 28%, #c392d4 100%);

    max-width: 100%;
    margin-bottom: 35px;
    color: var(--white);
    padding-bottom: 1em;
}

.nav{
    grid-area: nav;
    place-self: center;
}
.username{
    grid-area: usr;
    place-self: center start;
    margin-left: 10px;
}
.title-header{
    grid-area: title;
    z-index: 10;
}
.title-header__span{
    display: block;
    font-size: 1.2rem;
    margin-top: 10px;
    letter-spacing: 5px;
    color: #eee;
}
.btn__header-secondary{
    grid-area: btn-2;    
}
.btn__header-primary{
    grid-area: btn-1;
    width: 60%;
}
.btn__header-primary,
.btn__header-secondary,
.title-header{
    place-self: center;
}

a.btn__header-secondary,
a.btn__header-primary{
    width: 60%;
    height: 50px;
    margin: 0;
    padding: 5px 7px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Drawing ----------------------------------------------------------------------------------------------------- */


.drawing-header__container{
  position: relative;
  grid-area: draw;
  place-self: end center;
  min-width:320px;
  width:100%;
  max-width: 850px;
  height: auto;
  display: grid;
  gap: 10px;
  grid-template:  repeat(4, 1fr) / repeat(9, 1fr);
  grid-template-areas:
    "sq1     sq1     sq2     .       .      .     sq3     .       ."
    "sq1     sq1     sq4     sq4     sq4    sq4   sq4     sq4     ."
    "sq6     .       sq4     sq4     sq4    sq4   sq4     sq4     ."
    ".       .       sq4     sq4     sq4    sq4   sq4     sq4     ."
  ;
}

.drawing-header{
    grid-column: 1 / 10;
    grid-row: 1 / 5;
    align-self: end;
    width: 100%;
    z-index: 10;
}

.square{
  background: var(--square-bg);
}

.square-1{
    position: relative;
    top: 100%;
    left: 100%;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    width: 80%;
    height: 100%;
    margin: 0 10px;
    place-self: center start;
    
    animation: moveSquare 1s 1;
    animation-delay: .6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
    opacity: .1;
}
.square-2{
    grid-area: sq2;

    position: relative;
    top: 130%;
    left: -100%;
    opacity: 0;
    width: 1em;
    height: 1em;
    place-self: start end;
    margin-bottom: 30px;
  
    animation: moveSquare .5s 1;
    animation-delay: 1.7s;
    animation-timing-function: cubic-bezier(.59,-0.08,1,.54);
    animation-fill-mode: forwards;
}
.square-3{
    grid-area: sq3;

    position: relative;
    top: 120%;
    left: 50%;
    opacity: 0;
    width: .8em;
    height: .8em;
    place-self: start center;
    
    animation: moveSquare 1s 1;
    animation-delay: 1.1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
  
  
.square-4{
    grid-area: sq4;
  
    animation: widthSquare .5s 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
  
.square-5{
    position: relative;
    top: 30%;
    left: -100%;
    opacity: .05;
    grid-column: 7 / 9;
    grid-row: 2 / 3;
    width: 55%;
    height: calc(100% - 15px);
    place-self: start center;
  
    animation: moveSquare 1s 1;
    animation-delay: .6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;  
}
  .square-6{
    grid-area: sq6;
    width: 70%;
    height: 40%;
    place-self: center start;
  
    position: relative;
    top: -120%;
    left: 190%;
    opacity: 0;
  
    animation: moveSquare .5s 1;
    animation-delay: 1.7s;
    animation-timing-function: cubic-bezier(.59,-0.08,1,.54);
    animation-fill-mode: forwards;
  
  }
  .square-7{
    grid-column: 8 / 9;
    grid-row: 3 / 4;
    width: 50%;
    height: 35%;
    place-self: start end;
    position: relative;
  
    position: relative;
    top: -100%;
    left: -80%;
    opacity: 0;
    
    animation: moveSquare-2 .6s 1;
    animation-delay: 1.7s;
    animation-timing-function: cubic-bezier(.59,-0.08,1,.54);
    animation-fill-mode: forwards;
  } 
  
  /* Media Querys  ------------------------------------------------------------------------------------------- */
  
  /* Dibujo */
  @media (min-width: 620px) {
    .drawing-header__container{
        grid-template:  repeat(4, 1fr) / repeat(10, 1fr);
        grid-template-areas:
          ".      sq1     sq1     sq2     .       .      .     sq3     .       ."
          ".      sq1     sq1     sq4     sq4     sq4    sq4   sq4     .       ."
          "sq6    .       .       sq4     sq4     sq4    sq4   sq4     sq7     ."
          ".      .       .       sq4     sq4     sq4    sq4   sq4     .       ."
        ;
      }
    .drawing-header{
        grid-column: 1 / 11;
        justify-self: center;
        width: calc(100% - 140px);
    }
    .square-1{
        grid-area: sq1;
        width: 80%;
        height: 50%;
    }
    .square-2{
        top: 50%;
        right: 170%;
        width: 1.5em; 
        height: 1.5em; 
        place-self: center end;
    }
    .square-3{
        width: 1.2em; 
        height: 1.2em; 
        place-self: start;
        margin: 5px 0 0 10px;
    }
    .square-4{
        position: relative;
        left: -2em;
        animation-name: widthSquare-desktop;
    }
    .square-5{
        grid-column: 8 / 10;
        margin-left: 10px;
        place-self: start;
    }
    .square-6{
        top: -190%;
        left: 140%;

        width: 3em; 
        height: 3em; 
        place-self: end;
        bottom: -20px;
        margin-left: 2em;
    }
    .square-7{
        grid-area: sq7;

        position: relative; 
        left: -125%;
    }
}  
    
  /* Header */
@media (min-width: 900px) {
    .header{
        padding-left: 90px;
        width: calc(100% - 90px);
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 90px 120px auto auto;
        grid-template-areas: 
            ".    nav     nav     nav       ."
            ".      .       .       .       ."
            "title  title   title   .       usr"
            "btn-1  btn-1   btn-1       .       ."
        ;
    }
    .drawing-header__container{
        grid-column: 2 / 6;
        grid-row: 3 / 5;
        place-self: end;
        margin: 0;
    }
    .username{
        transform: rotate(-90deg);
        place-self: center end;
        position: relative;
        left: 50px;
    }
    .title-header{
        place-self: center start;
        z-index: 20;
    }
    .btn__header-primary,
    .btn__header-secondary{
        place-self: start;
        /* place-self: start center; */
    }

}
  
  
  /* Animaciones --------------------------------------------------------------------------*/
  
@keyframes moveSquare {
    20%{
        opacity: .5;
    }
    to {
        top: 0%;
        left: 0%;
        opacity: 1;
    }
}
@keyframes moveSquare-2 {
    20%{
        opacity: .5;
    }
    to {
        top: -5px;
        left: 5px;
        opacity: 1;
    }
}

@keyframes widthSquare {
    from{
        place-self: center;
        width: 30%;
        height: 30%;
    }
    95%{
        place-self: end center;
    }
    to{
        place-self: end start;
        width: 90%;
        height: calc(100% - 1.5em);
    }
}

@keyframes widthSquare-desktop {
    from{
        place-self: end center;
        width: 30%;
        height: 30%;
    }
    to{
        place-self: end start;
        width: 90%;
        height: calc(100% - 4em); 
    }
}