.Menu__container{
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rebeccapurple;
    z-index: 50;
}
.Menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(100%);
    transition: transform .3s;

    font-size: 1.5rem;
    list-style: none;
    color: var(--dark);
    background-color: var(--white);
}
.Menu li a{
    text-decoration: none;
}
.Menu li a:hover{
    text-decoration: line-through;
    cursor: pointer;
}
.Menu li{
    padding: 1em;
    margin-bottom: 1em;
}

.Menu-icon{
    width: 3em;
    height: 3em;
    padding: 10px 15px 0 0;
    position: relative;
    cursor: pointer;
}
.Menu-icon::after,
.Menu-icon::before{
    content: '';
    display: inline-block;
    height: .5em;
    background-color: var(--dark);
    transition: transform .3s;
}
.Menu-icon::after{
    width: 60%;
    margin-left: 40%;
}
.Menu-icon::before{
    width: 100%;
}
.translate .Menu{
    transform: translateX(0);
}
.translate{
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}
 
.translate .Menu-icon::before{
    position: absolute;
    left: 0;
    top: 25px;
    width: 70%;
    transform: rotate(-45deg);
}
.translate .Menu-icon::after{
    position: absolute;
    top: 25px;
    left: 0;
    margin-left: 0;
    width: 70%;
    transform: rotate(45deg);
}

@media (min-width: 1000px) {
    .Menu__container{
        position: static;
        width: auto;
        height: auto;
        margin: 40px 0 50px;
        background-color: transparent;
    }
    .Menu{
        flex-direction: row;
        justify-content: space-evenly;
        height: 100%;
        font-size: .8rem;
        transform: translateX(0);
        background-color: transparent;
        color: var(--dark);
    }
    .Menu li{
        padding: 0;
        margin: 0;
        color: var(--white);
    }
    .nav .Menu li{
        margin: 0 35px 0 0;
    }
    .Menu-icon{
        display: none;
    }
}