
:root{
    --white: #F2F4F6;
    --black: #02132C;
    --dark: #312D47;
    --primary-color: #887EC8;
    --secondary-color: #73C4EB;
    --square-bg: rgba(49, 45, 71, .5);

/* Dark colors */
    --dark-white: #a79cb1;
    --dark-black: #01081d;
    --dark-dark: #241f3d;
    --dark-primary-color: #6c6696;
    --dark-secondary-color: #6996aa;
    --dark-square-bg: rgba(32, 29, 53, 0.5);
}

body{
    background-color: var(--white);
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: var(--dark);
}



/* Global style */

.Sub-title{
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 10px;
    letter-spacing: 5px;
}

.link{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: .8rem;
}

.text{
    font-family: 'DM Sans', sans-serif;
    font-size: .9rem;
    line-height: 150%;
    margin: 12px 0 5px;
    color: rgba(49, 45, 71, 0.8);
    
}

@media (min-width: 1000px) {
    .text{
        font-size: 1rem;
    }
    .Sub-title{
        font-size: 1.3rem;
    }
}