/* 
 Tareas CSS:
    - Al hacer hover (En los dispositivos que soportan el hover) o al sostener el clik (en dispositivos que no soportan el hover) se muestra :
        Las tecnologias
        el nombre
        un elace a la página
        el cursor muestra la lupa con el + un más para darle click 
    -Mostrar las imagenes en un formato pinterest  
*/
:root{
    --white: #F2F4F6;
    --black: #02132C;
    --dark: #312D47;
    --primary-color: #887EC8;
    --secondary-color: #73C4EB;
}

@font-face {
    font-family: 'la-chida';
    src: url(./assets/fonts/dogicapixel.woff);
}

body{
    background-color: var(--white);
    text-align: center;
    font-family: 'la-chida';
    color: var(--dark);
}



/* Global style */

.Sub-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
}

.link{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: .8rem;
}