
:root{
    --white: #F2F4F6;
    --black: #02132C;
    --dark: #312D47;
    --primary-color: #887EC8;
    --secondary-color: #73C4EB;
}

@font-face {
    font-family: 'dogicalPixel';
    src: url(./assets/fonts/dogicapixel.woff);
}
@font-face {
    font-family: 'DM-Sans';
    src: url(./assets/fonts/DMSans-Regular.woff);
}

body{
    background-color: var(--white);
    text-align: center;
    font-family: 'dogicalPixel';
    color: var(--dark);
}



/* Global style */

.Sub-title{
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 10px;
}

.link{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: .8rem;
}

.text{
    font-family: 'DM-Sans';
    font-size: .9rem;
    line-height: 150%;
    margin: 12px 0 5px;
    color: rgba(49, 45, 71, 0.8);
    
}

@media (min-width: 1000px) {
    .text{
        font-size: 1rem;
    }
    .Sub-title{
        font-size: 1.3rem;
    }
}