.banner__container {
  width: 100%;
  height: 68px;
  margin: 0 0 62px;
  /* background-color: var(--black); */
  background-color: #e6dff1;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.75em;
  overflow: hidden;
  padding: 0;
}
.sliderItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  min-width: 122px;
  opacity: 0.9;
  animation: scroll 60s linear infinite;
}
.sliderItem .text {
  color: #373144;
  /* padding: 7px 0; */
  font-family: "Hind", Arial, Helvetica, sans-serif;
  /* font-style: medium; */
  font-weight: 600;
  font-size: 0.75rem;
  margin: 0;
}

.logo {
  width: 24px;
  height: min-content;
  margin-right: 12px;
  color: #373144;
  /* margin-top: 2px; */
}

@keyframes scroll {
  0% {
    /* -webkit-transform: translateX(-100%); */
    transform: translateX(0);
  }
  100% {
    /* transform: translateX(calc(-171px * 18)); */
    transform: translateX(-855%);
  }
}
