.AboutMe, .Photo__container{
    margin: 0 auto 30px;
}

.AboutMe{
     width: 80%;
     max-width: 850px;
     margin-bottom: 40px;
}

.Photo__container{
     width: 45%;
     max-width: 13em;
}
.Photo{
     width: 100%;
     height: auto;
     border-radius: 50%;
     opacity: 0;
     position: absolute;
 }
.Photo-loaded{
    opacity: 1;
    position: relative;
}

 .Name__title{
     font-weight: bold;
     font-size: 1.1rem;
     line-height: 18px;
     line-height: 150%;
 }
 .work__title{
     font-weight: bold;
     font-size: 1rem;
     line-height: 115%;
     color: var(--black);
 }
 @media (min-width: 1000px) {
    .Name__title{
        font-size: 1.7rem;
    }
    .work__title{
        font-size: 1.4rem;
    }
}